  
.navbar {
    background-color: #65C14A;
    color: white;
    display: flex;
    width: 100pc;
    align-items:flex-start;
  
}
  
  .title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 15px;
    text-align:center;
    align-items: center;
}
  
.vet-search-bar{
    width:400px;
    /* background-color:red; */
  }

/* .navbar ul:hover {
    background-color: greenyellow;    
  } */
.Flex-nav-vet{
    display: flex;
    color: white;
    margin-left: 10pc;

  }
.Flex{
    display: flex;
    color: white;
    align-items:center;
    /* gap: 2rem; */
    padding: 0 1rem;
    margin-left: 50pc;
  
  }
.logoutButton{
  margin-right: 25px;
  color: black;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  border-radius: 50px;
  background-color: #65C14A;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  border-spacing: 0;
  font-size: 15px;
  margin-right: 30px;
  margin-bottom:20px ;
}
.homebtn{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
.invbtn{
color: white;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;
text-transform: uppercase;
}
.email{
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 3px;
}
.sendbtn{
color: white;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-transform: uppercase;
text-decoration: none;
}
.logoutButton:hover{
  font-size: 16px;
}


.navbar p{
  margin-left: 20px;
}