  
.navbar {
    background-color: #65C14A;
    color: white;
    display: flex;
    width: 100pc;
    align-items:flex-start;
  
}
  
  .title {
    font-size: 1.5rem;
    text-align:center;
    align-items: center;
}
  
.vet-search-bar{
    width:400px;
    /* background-color:red; */
  }

.navbar ul:hover {
    background-color: greenyellow;    
  }
.Flex-nav-vet{
    display: flex;
    color: white;
    margin-left: 10pc;
  
  }
  
.Flex{
    display: flex;
    color: white;
    align-items:center;
    /* gap: 2rem; */
    padding: 0 1rem;
    margin-left: 50pc;
  
  }
.logoutButton{
  margin-right: 25px;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
  border-radius: 50pc;
  background-color: #65C14A;
  margin-right: 30px;
  margin-bottom:20px ;
}
.logoutButton:hover{
  font-size: 16px;
}


.navbar p{
  margin-left: 20px;
}