.event-btn {
    border: none;
    background-color: #65C14A;
    padding: 0px;
    margin-left: 50px;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    color: white;

}