html{
    background-color: white;
    margin: 0;
    padding: 0;
}
.body{
    /* backgrouWnd-color: rgb(10, 189, 238); */
    margin: 0;
    padding: 0;
}



.flex {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0;
    padding: 0;
    flex-direction: column;
}


.login-btn {
    border: none;
    background-color: #65C14A;
    padding: 0px;
    margin-left: 50px;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    color: white;
}

/* .login-link-btn{
    padding-left: 39pc;
    width:300px
} */

.login-input{
    /* border-radius: 0 50% 0 50%; */
    border-radius: 50px;
    width: 250px;
}
.pic{
    margin-bottom:50px;
}
.login-label{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;

    
}