.followers-h1{
    margin: 0;
    color: white;
    font-size: 50px;
    background-color: #65C14A;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);
    
}
